body {
    --color-primary: #f76c5e;
    --color-secondary: #f68e5e;
    --color-tertiary: #ffeee6;
}
h1 {
   margin: 10px;
   font-weight: bold;
    color: var(--color-primary);
}
h2 {
   margin: 10px;
   font-weight: 500;
    color: var(--color-secondary);
}
h3 {
   margin: 10px;
   font-weight: 400;
    color: var(--color-tertiary);
}
input[type="radio"] {
    filter: bluescale(100%);
}
input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: var(--color-primary);

}
button {
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    color: var(--color-secondary);
    background-color: white;
}

button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
}
```

```html