body {
    --color-primary: #f76c5e;
    --color-secondary: #f68e5e;
    --color-tertiary: #bb6c47;
}

h1 {
   margin: 10px;
   font-weight: bold;
    color: var(--color-primary);
}
h2 {
   margin: 10px;
   font-weight: 500;
    color: var(--color-secondary);
}
h3 {
   margin: 10px;
   font-weight: 400;
    color: var(--color-tertiary);
}
input[type="radio"] {
    filter: bluescale(100%);
}
input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: var(--color-primary);

}
button {
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    color: var(--color-secondary);
    background-color: white;
}

button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
}
button:focus {
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-primary);
    padding: 2px;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-width: 200px;
    padding: 50px;
    text-align: center;
    color: white;  
    background-color: var(--color-tertiary);
    border-radius: 70px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 50px;
    color: white;
    background-color: var(--color-tertiary);
    width: 100%;   
}

.optionErea {
   margin : 20px;
}

.optionErea input[type = "radio"] {
    margin-left: 40px;
}

.textErea{
    margin: 10px 0 10px 0;
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    color: var(--color-primary);
    padding: 10px;
    border-radius: 8px;
    }

.entering {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    
}
.entering input[type="text"] {
    width: 80%;
    margin: 0;
}

.entering button {
    width: 15%;
    margin: 0;
}

.score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    main {
        width: 80%;
        padding: 20px;
    }
    .entering {
        flex-direction: column;
    }
    
}